* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}

body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-image: url(assets/bg.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 150px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;


}

h1 {

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: white;
    margin-top: 80px;
    line-height: 0.8;
    margin-bottom: 40px;



}

img {
    margin-top: 40px;
    max-width: 17%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}

.container {

    margin-left: 150px;
    color: white;
}

h3 {
    color: #900080;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.procedi {
    color: black;
    background-color: #00FFFF;
    padding: 13px 50px;
    font-size:



}

.grasso {

    font-weight: 800;
}

ul {
    margin-left: 28px;
    margin-top: 50px;
    margin-bottom: 150px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}