* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 150px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    margin-right: 150px;
    margin-top: 40px;



}



header {

    display: flex;
    justify-content: space-between;
}

h1 {

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    margin-top: 80px;
    /* line-height: 1; */
    margin-bottom: 40px;
    text-align: center;
    padding: 0 20px;




}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
}

img {

    max-width: 17%;
}

#answers-container {
    display: flex;
    flex-direction: column;

}

.colonna1 {
    display: flex;

}

.colonna2 {
    display: flex;
}

button