* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 150px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    margin-right: 150px;
    margin-top: 40px;



}



header {

    display: flex;
    justify-content: space-between;
}

h1 {

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    margin-top: 80px;

    margin-bottom: 40px;
    text-align: center;
    padding: 0 20px;




}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
}

img {

    max-width: 17%;
}

#answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.colonna1 {
    display: flex;

}

.colonna2 {
    display: flex;
}

button {
    padding: 10px 20px;
    width: 400px;
    height: 80px;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;


    background-color: rgba(43, 43, 82, 0.65);


    position: relative;
    border: none;

}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 2px;


    background: linear-gradient(180deg,
            rgba(255, 255, 255, 1) 0%,

            rgba(255, 255, 255, 0.5) 40%,

            rgba(255, 255, 255, 0) 100%);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}


button:focus,
button:focus-visible {
    outline: none !important;
}


.colonna1,
.colonna2 {
    gap: 40px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

span {
    color: #D20094;

}